.component-style{
    margin-top: 33px;
    margin-bottom: 65px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}